<div id="footer">
<div id="fineprint">
    <p>
      Debian Maintainer Dashboard:
      <a href="https://wiki.debian.org/UltimateDebianDatabase/Hacking">hacking / bug reporting / contact information</a> -
      <a href="http://anonscm.debian.org/gitweb/?p=collab-qa/udd.git;a=blob_plain;f=web/dmd.cgi">source code</a>
    </p>
    <hr>
    <p>
      Debian is a registered <a href="http://www.debian.org/trademark">trademark</a> of Software in the Public Interest, Inc.
    </p>
</div>
</div>
